<div class="collapsible-tab js{% if open_by_default %} open{% endif %}">
    <collapsible-button tabindex="0">
        <div class="summary">
            {% render 'text-with-icon', icon: icon, custom_icon: custom_icon, text: heading, text_classes: heading_classes %}
            <span class="inline-icon--wrapper icon--right">
                {% if open_close_icon == "plus_minus" %}
                    {% render 'theme-icon' with icon: 'plus', iconClasses: 'plus-icon' %}
                    {% render 'theme-icon' with icon: 'minus', iconClasses: 'minus-icon' %}
                {% elsif open_close_icon == "caret" %}
                    {% render 'theme-icon', icon: 'chevron_down', iconClasses: 'chevron-down' %}
                {% endif %}
            </span>
        </div>
    </collapsible-button>

    {% if content != blank %}
        <div class="collapsible-content">
            <div class="content rte">
                <div class="text-link-animated">
                    {{ content }}
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div class="no-js">
    {% comment %} Fallback html when JS is disabled. {% endcomment %}
    <div class="collapsible-tab">
        <details class="collapsible-tab-content"{% if open_by_default %} open{% endif %}>
            <summary class="summary" role="button" aria-expanded="false" tabindex="0">
                {% render 'text-with-icon', icon: icon, custom_icon: custom_icon, text: heading, text_classes: heading_classes %}
                <span class="inline-icon--wrapper icon--right">
                    {% if open_close_icon == "plus_minus" %}
                        {% render 'theme-icon' with icon: 'plus', iconClasses: 'plus-icon' %}
                        {% render 'theme-icon' with icon: 'minus', iconClasses: 'minus-icon' %}
                    {% elsif open_close_icon == "caret" %}
                        {% render 'theme-icon', icon: 'chevron_up', iconClasses: 'chevron-up' %}
                        {% render 'theme-icon', icon: 'chevron_down', iconClasses: 'chevron-down' %}
                    {% endif %}
                </span>
            </summary>
            {% if content != blank %}
                <div class="rte text-link-animated">
                    {{ content }}
                </div>
            {% endif %}
        </details>
    </div>
</div>

<safe-load-scripts class="hidden">
    <script src="{{ 'component-collapsible-button.js' | asset_url }}" type="module" defer="defer" data-flow-load-key="component-collapsible-button"></script>
</safe-load-scripts>

<div class="collapsible-tab-container collapsible product-form-block no_margin_bottom" style="--custom-margin-bottom: 0px;">
    <div class="collapsible-tab js open">
      <collapsible-button tabindex="0">
        <div class="summary">
          <div class="text-with-icon">
            <div class="text-with-icon--content">
              <span class="text-with-icon--icon inline-icon--wrapper">
                <!-- SVG icon here -->
              </span>
              <span class="text-with-icon--text label-font">What's Inside The Box</span>
            </div>
          </div>
          <span class="inline-icon--wrapper icon--right">
            <!-- SVG icon for collapse/expand -->
          </span>
        </div>
      </collapsible-button>
      <div class="collapsible-content" style="height: auto;">
        <div class="content rte">
          <div class="text-link-animated">
            <p><img src="https://cdn.shopify.com/s/files/1/0860/2877/9835/files/dantheman.stoner_light_gray_background_front_on_product_shot_of_4b0aab4c-a68f-4579-a8dd-30cebbfce90c.png?v=1711090575" alt="Apples" style="width:100px; height:auto;"> Apples</p>
            <p><img src="url_to_grapes.jpg" alt="Grapes" style="width:100px; height:auto;"> Grapes</p>
            <p><img src="url_to_oranges.jpg" alt="Oranges" style="width:100px; height:auto;"> Oranges</p>
            <p><img src="url_to_pears.jpg" alt="Pears" style="width:100px; height:auto;"> Pears</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  