/* Place any CSS overrides in this file. *//* Place any CSS overrides in this file. */
.sale-badge {
    font-size: 15px; /* Adjust the size as needed */
    /* Other styles like background-color, color, padding, etc. */

  .product-card__quick-buy .quick-buy-button {
  background-color: #5ea9f4;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* This changes the gap on color swatches for desktop and mobile */
.product-card__quick-buy .quick-buy-button:disabled {
  background-color: #ccc;

}
/* Basic CSS for Swiper container and slides */
.swiper-wrapper {
  display: flex;
  gap: 10px; /* Adjust gap as needed */
  overflow: auto;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .swiper-wrapper {
    gap: 5px; /* Smaller gap on smaller screens */
  }
}

/* Media query for larger screens */
@media (min-width: 1201px) {
  .swiper-wrapper {
    justify-content: space-between; /* Spread out on larger screens */
  }
}

/* Flexbox settings for color swatch wrapper */
.card-color-swatch--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust alignment as needed */
}
}
<style>
  /* overrides global font-sizes with section font-sizes */
  [data-wetheme-section-id="{{ section.id }}"].featured-menu-wrapper * {
    font-size: {{ section.settings.menu_item_size }}px !important;
    line-height: normal;
  }

  {% if section.settings.menu_items_color != "rgba(0,0,0,0)" %}
    .featured-menu-wrapper featured-menu .custom-cursor {
      background-color: {{ section.settings.menu_items_color }};
    }
    
    .featured-menu-wrapper .placeholder-noblocks,
    .featured-menu-wrapper featured-menu {
      color: {{ section.settings.menu_items_color }} !important;
    }
  {% endif %}

  /* Adjust the size of the images */
  .featured-menu--image-wrapper img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  /* Ensure the container around the images maintains a 1:1 aspect ratio */
  .featured-menu--image-wrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Align text below the images */
  .featured-menu--item {
    text-align: center;
  }
</style>
