/* Place any CSS overrides in this file. *//* Place any CSS overrides in this file. */
.sale-badge {
    font-size: 15px; /* Adjust the size as needed */
    /* Other styles like background-color, color, padding, etc. */

  .product-card__quick-buy .quick-buy-button {
  background-color: #5ea9f4;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* This changes the gap on color swatches for desktop and mobile */
.product-card__quick-buy .quick-buy-button:disabled {
  background-color: #ccc;

}
/* Basic CSS for Swiper container and slides */
.swiper-wrapper {
  display: flex;
  gap: 10px; /* Adjust gap as needed */
  overflow: auto;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .swiper-wrapper {
    gap: 5px; /* Smaller gap on smaller screens */
  }
}

/* Media query for larger screens */
@media (min-width: 1201px) {
  .swiper-wrapper {
    justify-content: space-between; /* Spread out on larger screens */
  }
}

/* Flexbox settings for color swatch wrapper */
.card-color-swatch--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust alignment as needed */
}

/* remove boarders */
<div id="shopify-section-template--22517881897275__text_text_adverts_XTaGgp" class="shopify-section homepage-section--text-adverts-wrapper shown-on-scroll animated fadeInUp">
  <link href="//thefruitbox.co/cdn/shop/t/8/assets/section-text-blocks.min.css?v=86379295954260848761712737655" rel="stylesheet" type="text/css" media="all">
  <noscript><link href="//thefruitbox.co/cdn/shop/t/8/assets/section-text-blocks.min.css?v=86379295954260848761712737655" rel="stylesheet" type="text/css" media="all" /></noscript>
  
  <style>
    @keyframes pulse {
      0%, 100% { transform: scale(1); }
      50% { transform: scale(1.05); }
    }
    
    .grid__item.large--one-third.medium--one-third {
      animation: pulse 3s infinite ease-in-out;
    }

    /* Specific override for border on screens wider than 768px */
    @media screen and (min-width: 768px) {
      .homepage-sections-wrapper--white .text-advert-section .grid__item {
        border-left: none !important; /* Removes left border */
      }
    }
  </style>
  
  <!-- Existing HTML content -->
</div>
