/* Place any CSS overrides in this file. *//* Place any CSS overrides in this file. */
.sale-badge {
    font-size: 15px; /* Adjust the size as needed */
    /* Other styles like background-color, color, padding, etc. */

  .product-card__quick-buy .quick-buy-button {
  background-color: #5ea9f4;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

/* This changes the gap on color swatches for desktop and mobile */
.product-card__quick-buy .quick-buy-button:disabled {
  background-color: #ccc;

}
/* Basic CSS for Swiper container and slides */
.swiper-wrapper {
  display: flex;
  gap: 10px; /* Adjust gap as needed */
  overflow: auto;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .swiper-wrapper {
    gap: 5px; /* Smaller gap on smaller screens */
  }
}

/* Media query for larger screens */
@media (min-width: 1201px) {
  .swiper-wrapper {
    justify-content: space-between; /* Spread out on larger screens */
  }
}

/* Flexbox settings for color swatch wrapper */
.card-color-swatch--wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust alignment as needed */
}

}
.ajaxcart-item__discount {
  color: red !important;
}

@media (min-width: 768px) {
    .cart.table-wrap {
        margin-left: auto;
        margin-right: auto;
        max-width: 10%; /* Adjust this value to your desired width */
        padding-left: 10px; /* Add some padding if needed */
        padding-right: 10px; /* Add some padding if needed */
    }
}
